---
---



<div id= "services-page"class="m-16 p-10"> 
    <h1 class="inline-block font-bold text-2xl mb-5 text-secondary border-b-2 border-primary pb-1 px-2">
        Our Services
    </h1>

    <p>Offer personalized care for our residents
    Help with daily living activities including meals preparation, house-keeping, laundry, and social and recreational activities with on-site staffs supervision.
    </p>

    <h7 class="font-bold text-xl mb-3">
        Our points of difference include:
    </h7>
    <ul class="">
        <li class="mb-2">Home setting in established neighborhood</li>
        <li class="mb-2">Smaller, more personalized environment</li>
        <li class="mb-2">Conscience respectful staff interactions with residents</li>
        <li class="mb-2">Emphasis on excellent service, conscientious attention, skilled medical care</li>
        <li class="mb-2">Management with deep commitment to excellence</li>
    </ul>

    <p>
        
        Our service with Sunrise Residential Assisted Living Facility helps clients, “disabled individuals, and chronic health conditions, who want to have assistance with daily critical living conditions, mental stimulation, etc.” by prioritizing the health and well-being of our residents and providing them with high-quality living suport and care.

    </p> 

</div>
<div class="bg-green-600 w-30 h-5">
    poop sauce
</div>
<!-- <style>
    #services-page {
        background-image: url("/assets/images/services-bg.jpg");
        background-size: cover;
        background-position: center;
    }
</style> -->