---
import '../styles/global.css'; // import tailwind styles
import Navbar from '../components/Navbar.astro';
const title = Astro.props.title;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
		<link rel="shortcut icon" href="/favicons/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Sunrise Residential LLC" />
		<link rel="manifest" href="/favicons/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />
		<title>Sunrise Residential - {title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
